@model GuessResult.Models.EventListViewModel
@Scripts.Render("~/bundles/js/EventList")


<h2>Lista rozgrywek </h2>
<div ng-app="GR">
    <div ng-controller="EventListCtrl">

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></div>
                        <select class="form-control" data-ng-options="e.Name for e in eventStatusList track by e.Id" ng-model="filterEventStatus">
                            <option value="">Wybierz status meczu</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="checkbox">
                        <input type="checkbox" id="filterOnlyMyEvents" ng-model="filterOnlyMyEvents">
                        <label for="filterOnlyMyEvents" id="mojeMecze">
                            Moje mecze
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" style="overflow:auto;" id="divEventList">

                <table class="table table-striped table-hover" style="margin-top:20px;">
                    <thead>
                        <tr>
                            <th style="text-align:center">Data</th>
                            <th style="text-align:center">
                                Drużyna gospodarzy
                            </th>
                            <th style="text-align:center">
                                Drużyna przeciwna
                            </th>
                            <th style="text-align:center">
                                Wynik
                            </th>
                            <th style="text-align:center">Wynik użytkownika</th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    @*| startFrom:currentPage*pageSize | limitTo:pageSize*@
                    <tbody>
                        <tr ng-repeat="singleEvent in events">
                            <td style="text-align:center">
                                {{singleEvent.StartDate | date:'yyyy-MM-dd HH:mm'}}
                            </td>
                            <td style="text-align:center">
                                {{singleEvent.HomeTeamName}}
                            </td>
                            <td style="text-align:center">
                                {{singleEvent.AwayTeamName}}
                            </td>
                            <td class="text-center">
                                {{singleEvent.HomeTeamScore != null ? (singleEvent.HomeTeamScore +  ':'  +singleEvent.AwayTeamScore) : '-'}}
                            </td>
                            <td class="text-center">
                                <div ng-show="singleEvent.EventPredictionType == 1">
                                    {{singleEvent.UserHomeTeamScore != null ? (singleEvent.UserHomeTeamScore +  ':'  +singleEvent.UserAwayTeamScore) : '-'}}
                                </div>
                                <div ng-show="singleEvent.EventPredictionType == 2">
                                    {{singleEvent.GeneralScoreTypeText}}
                                </div>

                            </td>
                            <td>
                                <button type="button" ng-click="editUserEvent(singleEvent.Id)" title="edytuj" class="btn btn-default btn-sm btn-usun"
                                        ng-show="{{singleEvent.HomeTeamScore == null}}">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="modalUserEventDetails" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Przewidywany wynik użytkownika</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" name="formSaveUserEventDetails">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Data</label>
                                        <div class="input-group  input-group date-time">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                                            @Html.TextBox("UserEventDate", "", new
                                       {
                                           @class = "form-control",
                                           placeholder = "Data",
                                           ng_model = "editedUserEvent.StartDate",
                                           date = "date",
                                           data_format = "yyyy-MM-dd HH:mm",
                                           disabled = "disabled"
                                       })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nazwa drużyny gospodarzy</label>
                                        <div class="input-group  input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                            @Html.TextBox("UserEventHomeTeamName", null, new
                                       {
                                           @class = "form-control",
                                           placeholder = "Podaj nazwe",
                                           ng_model = "editedUserEvent.HomeTeamName",
                                           disabled = "disabled"
                                       })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Nazwa drużyny przeciwnej</label>
                                    <div class="input-group  input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                        @Html.TextBox("UserEventAwayTeamName", null, new
                                   {
                                       @class = "form-control",
                                       placeholder = "Podaj nazwe",
                                       ng_model = "editedUserEvent.AwayTeamName",
                                       disabled = "disabled"

                                   })
                                    </div>
                                </div>
                            </div>

                            @if (User.IsInRole("Admin"))
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Rodzaj przewidywania</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></div>
                                                <select class="form-control" data-ng-options="e.Name for e in eventPredictionTypeList track by e.Id" ng-model="editedUserEvent.EventPredictionType"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row" ng-show="editedUserEvent.EventPredictionType.Id == 2">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Wynik</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></div>
                                            <select class="form-control" data-ng-options="e.Name for e in generalScoreTypeList track by e.Id" ng-model="editedUserEvent.GeneralScoreType"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-show="editedUserEvent.EventPredictionType.Id == 1">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Wynik drużyny przeciwnej</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="fa fa-futbol-o"></span></div>
                                            @Html.TextBox("UserEventHomeTeamScore", null, new
                                       {
                                           @class = "form-control",
                                           placeholder = "Podaj ilosc",
                                           ng_model = "editedUserEvent.HomeTeamScore"
                                       })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Wynik drużyny gospodarzy</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="fa fa-futbol-o"></span></div>
                                        @Html.TextBox("UserEventAwayTeamScore", null, new
                                   {
                                       @class = "form-control",
                                       placeholder = "Podaj ilosc",
                                       ng_model = "editedUserEvent.AwayTeamScore"
                                   })
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-usun" ng-click="saveUserEventDetails()">Zapisz</button>
                        <button type="button" class="btn btn-default btn-usun" ng-click="cancelUserEventEdit()">Anuluj</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
