@model GuessResult.Models.EditEventViewModel
@Scripts.Render("~/bundles/js/EventList")


<h2>Lista rozgrywek </h2>
<div ng-app="GR">
    <div ng-controller="EventListCtrl">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></div>
                        <select class="form-control" data-ng-options="o.Name for e in events track by e.Id" ng-model="filteredEvent">
                            <option value="">Wybierz status meczu</option>
                        </select>
                    </div>
                    <label><input type="checkbox" name="mojChekbox"> Moje mecze</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button ng-click="edit()" class="btn btn-default">Dodaj wydarzenie</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped" style="margin-top:20px;">
                    <tr>
                        <th>Data</th>
                        <th>
                            Drużyna gospodarzy
                        </th>
                        <th>
                            Drużyna przeciwna
                        </th>
                        <th>
                            Wynik
                        </th>
                        <th>Wynik użytkownika</th>
                        <th style="width: 20px;"></th>
                        <th style="width: 20px;"></th>
                        <th style="width: 100px;"></th>
                    </tr>

                    <tr ng-repeat="singleEvent in events">
                        <td>
                            {{singleEvent.StartDate | date:'yyyy-MM-dd HH:mm'}}
                        </td>
                        <td>
                            {{singleEvent.HomeTeamName}}
                        </td>
                        <td>
                            {{singleEvent.AwayTeamName}}
                        </td>
                        <td ng-hide="{{singleEvent.HomeTeamScore == null}} || {{singleEvent.AwayTeamScore == null}}">
                            {{singleEvent.HomeTeamScore +  ':'  +singleEvent.AwayTeamScore}}
                        </td>
                        <td ng-show="{{singleEvent.HomeTeamScore == null}} || {{singleEvent.AwayTeamScore == null}}">
                            Brak danych
                        </td>
                        <td ng-hide="{{singleEvent.UserHomeTeamScore == null}} || {{singleEvent.UserAwayTeamScore == null}}">
                            {{singleEvent.UserHomeTeamScore +  ':'  +singleEvent.UserAwayTeamScore}}
                        </td>
                        <td ng-show="{{singleEvent.UserHomeTeamScore == null}} || {{singleEvent.UserAwayTeamScore == null}}">
                            Brak danych
                        </td>

                        <td>
                            <button type="button" ng-click="edit(singleEvent.Id)" title="edytuj" class="btn btn-default btn-sm btn-usun  pull-right" style="margin-right:5px">
                                <span class="glyphicon glyphicon-cog "></span>
                            </button>
                        </td>
                        <td>
                            <button type="button" ng-click="editUserEvent(singleEvent.Id)" title="edytuj" class="btn btn-default btn-sm btn-usun  pull-right" style="margin-right:5px">
                                <span class="glyphicon glyphicon-asterisk"></span>
                            </button>
                        </td>

                        <td>
                            @if (User.IsInRole("Admin"))
                            {
                                <button type="button" ng-click="delete(singleEvent.Id)" title="Usuń" class="btn btn-default btn-sm btn-usun  pull-right" style="margin-right:5px">
                                    <span class="glyphicon glyphicon-trash "></span>
                                </button>
                            }
                        </td>
                    </tr>
                    <tr ng-show="events.length == 0 ">
                        <td></td>
                        <td></td>

                        <td>
                            Brak danych
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                </table>
            </div>
        </div>

        <div id="modalEventDetails" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Detale usera zdarzenia</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" name="formSaveEventDetails">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Data</label>
                                        <div class="input-group  input-group date-time">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                                            @Html.TextBox("EventDate", "", new
                                       {
                                           @class = "form-control",
                                           placeholder = "Data",
                                           ng_model = "editedEvent.StartDate",
                                           date = "date",
                                           data_format = "yyyy-MM-dd HH:mm",
                                       })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nazwa drużyny gospodarzy</label>
                                        <div class="input-group  input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                            @Html.TextBox("EventHomeTeamName", null, new
                                       {
                                           @class = "form-control",
                                           placeholder = "Podaj nazwe",
                                           ng_model = "editedEvent.HomeTeamName",
                                       })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Nazwa drużyny przeciwnej</label>
                                    <div class="input-group  input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                        @Html.TextBox("EventAwayTeamName", null, new
                                   {
                                       @class = "form-control",
                                       placeholder = "Podaj nazwe",
                                       ng_model = "editedEvent.AwayTeamName",
                                   })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Wynik drużyny gospodarzy</label>
                                        <div class="input-group">
                                            @Html.TextBox("EventHomeTeamScore", null, new
                                       {
                                           @class = "form-control",
                                           placeholder = "Podaj ilosc",
                                           ng_model = "editedEvent.HomeTeamScore",
                                           required = "required"
                                       })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Wynik drużyny przeciwnej</label>
                                    <div class="input-group">
                                        @Html.TextBox("EventAwayTeamScore", null, new
                                   {
                                       @class = "form-control",
                                       placeholder = "Podaj ilosc",
                                       ng_model = "editedEvent.AwayTeamScore",
                                       required = "required"
                                   })
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-usun" ng-click="SaveEventDetails()">Zapisz</button>
                        <button type="button" class="btn btn-default btn-usun" ng-click="cancelEdit()">Anuluj</button>
                    </div>
                </div>
            </div>
        </div>


        <div id="modalUserEventDetails" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Przewidywany wynik użytkownika</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" name="formSaveUserEventDetails">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Data</label>
                                        <div class="input-group  input-group date-time">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                                            @Html.TextBox("UserEventDate", "", new
                                       {
                                           @class = "form-control",
                                           placeholder = "Data",
                                           ng_model = "editedUserEvent.StartDate",
                                           date = "date",
                                           data_format = "yyyy-MM-dd HH:mm",
                                           disabled = "disabled"
                                       })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nazwa drużyny gospodarzy</label>
                                        <div class="input-group  input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                            @Html.TextBox("UserEventHomeTeamName", null, new
                                       {
                                           @class = "form-control",
                                           placeholder = "Podaj nazwe",
                                           ng_model = "editedUserEvent.HomeTeamName",
                                           disabled = "disabled"
                                       })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Nazwa drużyny przeciwnej</label>
                                    <div class="input-group  input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                        @Html.TextBox("UserEventAwayTeamName", null, new
                                   {
                                       @class = "form-control",
                                       placeholder = "Podaj nazwe",
                                       ng_model = "editedUserEvent.AwayTeamName",
                                       disabled = "disabled"

                                   })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Wynik drużyny przeciwnej</label>
                                        <div class="input-group">
                                            @Html.TextBox("UserEventHomeTeamScore", null, new
                                       {
                                           @class = "form-control",
                                           placeholder = "Podaj ilosc",
                                           ng_model = "editedUserEvent.HomeTeamScore",
                                           required = "required"
                                       })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Wynik drużyny gospodarzy</label>
                                    <div class="input-group">
                                        @Html.TextBox("UserEventAwayTeamScore", null, new
                                   {
                                       @class = "form-control",
                                       placeholder = "Podaj ilosc",
                                       ng_model = "editedUserEvent.AwayTeamScore",
                                       required = "required"
                                   })
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-usun" ng-click="saveUserEventDetails()">Zapisz</button>
                        <button type="button" class="btn btn-default btn-usun" ng-click="cancelUserEventEdit()">Anuluj</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
