<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")

    <script>
        $(document).ready(function () {
            $('.input-group.date-time').datetimepicker({
                locale: 'pl',
                format: 'YYYY-MM-DD HH:mm'
            });
            $('.input-group.date-time').on("dp.change", function (e) {
                $(this).find('input').val(e.date.format('YYYY-MM-DD HH:mm')).trigger('change');
            });


            $('.input-group.date').datetimepicker({
                locale: 'pl',
                format: 'YYYY-MM-DD'
            });
            $('.input-group.date').on("dp.change", function (e) {
                $(this).find('input').val(e.date.format('YYYY-MM-DD')).trigger('change');
            });

        });
    </script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
@if (User.Identity.IsAuthenticated)
{
    <body class="inner">
        <div id="wrapper">
            <div class="overlay"></div>
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper">
                <ul class="nav sidebar-nav">
                    <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                    <li>@Html.ActionLink("Wydarzenia", "EventList", "Event")</li>
                    <li>@Html.ActionLink("Statystyki", "GetAllStatiscics", "User")</li>
                    <li>@Html.ActionLink("Statystyki ogólne", "GetAllStatiscicsUsers", "User")</li>
                    <li>@Html.ActionLink("Nowości ", "Index", "NewsFeed")</li>
                    <li class="liForm">@Html.Partial("_LoginPartial")</li>
                </ul>
            </nav>

            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="container body-content">
                    @RenderBody()
                    <footer>
                        <hr />
                        <p>&copy; @DateTime.Now.Year - Przewidywanie wyników</p>
                    </footer>
                </div>
            </div><!--page-content-wrapper-->
        </div><!--wrapper-->

        @RenderSection("scripts", required: false)
    </body>
}
else
{
    <body class="home">
        <div id="wrapper">
            <div class="overlay"></div>

            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper">

                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav sidebar-nav">
                        <li class="sidebar-brand">
                            @Html.ActionLink("Strona główna", "Index", "Home", new { area = "" }, new { @class = "navbar-brand1" })
                        </li>
                        <li class="liForm">@Html.Partial("_LoginPartial")</li>
                    </ul>
                }
                else
                {
                    <ul class="nav sidebar-nav">
                        <li>@Html.Partial("_LoginPartial")</li>
                    </ul>
                }
            </nav>

            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Przewidywanie wyników</p>
                    </footer>
                </div>
            </div><!--page-content-wrapper-->
        </div><!--wrapper-->

        @RenderSection("scripts", required: false)
    </body>
}

</html>
